<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplikacja Planów Treningowych</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TrainingPlansApi.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <header>
         <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index" class="btn btn-primary">Strona Główna</a></li>
                <li><a asp-controller="Plans" asp-action="Create" class="btn btn-primary">Utwórz Plan</a></li>
                <li><a asp-controller="Plans" asp-action="Community" class="btn btn-primary">Społeczność</a></li>
                <li><a asp-controller="Plans" asp-action="Motivation" class="btn btn-primary">Motywacja</a></li>
            </ul>
         </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
