<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikacja Planów Treningowych</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/main.js" defer></script>
</head>
<body>
    <main>
        <h1>Witamy na naszej stronie!</h1>
        <p>
            Stworzyliśmy aplikację umożliwia użytkownikom tworzenie, zapisywanie i udostępnianie indywidualnych
            planów treningowych. Może to być aplikacja skierowana do osób trenujących fitness,
            kulturystykę, czy nawet biegaczy, którzy chcą monitorować swoje postępy, ustalać cele i
            dzielić się swoimi planami z innymi.
        </p>
    </main>
    <footer>
        <p>&copy; 2025 Trenuj.pl</p>
    </footer>
</body>
</html>